node-red/node-red-data/flows.json
[{"id":"4ce4a47d.ce9e8c","type":"tab","label":"PLC Demo Flow"},{"id":"ebc07b58.4da698","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2a3374cd.12c99c","type":"s7 endpoint","z":"","address":"10.0.13.2","port":"102","rack":"0","slot":"1","cycletime":"500","name":"Siemens PLC","vartable":[{"addr":"DB7,INT2","name":"Test"}]},{"id":"4dcd371c.747668","type":"s7comm","z":"","ip":"10.0.13.2","port":"102","rack":"0","slot":"1","payload":[{"S7_itemID":"EsalboFS","S7_Type":"DB","S7_DBnum":"7","S7_Datatype":"I","S7_Offset":"2","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"test"}],"globallist":null},{"id":"397e6ee8.aa9b02","type":"MySQLdatabase","z":"","host":"db","port":"3306","db":"demo","tz":""},{"id":"205de488.d3629c","type":"function","z":"4ce4a47d.ce9e8c","name":"snap7-plc","func":"\nvar s7client = new context.global.snap7.S7Client();\nvar plcHost = '10.0.13.2';\n\nvar connected = s7client.ConnectTo(plcHost, 0, 1);\n\nif (connected === true) {\n  var resultBuffer = s7client.DBRead(1, 0, 4);\n  if (resultBuffer === false){\n    msg.payload = 'Failed to read db';\n  } else {\n    msg.payload=resultBuffer.readFloatBE(0);  \n    s7client.Disconnect();\n  }\n  \n} else {\n  msg.payload = 'Not connected';\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":281.5,"wires":[["a72e1a10.cde8e8","7321771a.37e168"]]},{"id":"af7d83c2.516d2","type":"mqtt out","z":"4ce4a47d.ce9e8c","name":"Publish to /plc-demo","topic":"/plc-sql","qos":"1","retain":"true","broker":"ebc07b58.4da698","x":771,"y":380.5,"wires":[]},{"id":"33f3c0bb.4effd","type":"mqtt in","z":"4ce4a47d.ce9e8c","name":"Subscripe to all topics","topic":"/#","qos":"1","broker":"ebc07b58.4da698","x":148,"y":577.5,"wires":[["5347063a.eaa978"]]},{"id":"5347063a.eaa978","type":"debug","z":"4ce4a47d.ce9e8c","name":"Debug mqtt payload","active":false,"console":"false","complete":"payload","x":401,"y":577,"wires":[]},{"id":"fe0d1568.8c8728","type":"s7 in","z":"4ce4a47d.ce9e8c","endpoint":"2a3374cd.12c99c","mode":"all","variable":"","diff":true,"name":"Poll all changed variables using s7","x":177,"y":99.5,"wires":[["92143a11.4bf098","421220ce.a3afd"]]},{"id":"92143a11.4bf098","type":"debug","z":"4ce4a47d.ce9e8c","name":"Debug s7","active":true,"console":"false","complete":"true","x":384,"y":139,"wires":[]},{"id":"805d5b0c.3c7188","type":"s7comm read","z":"4ce4a47d.ce9e8c","connection":"4dcd371c.747668","globallist":{"items":[{"S7_itemID":"EsalboFS","S7_Type":"DB","S7_DBnum":"7","S7_Datatype":"I","S7_Offset":"2","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"test"}]},"payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"7\",\"S7_Datatype\":\"I\",\"S7_Offset\":\"2\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"test\"}","s7Name":"test","topic":"s7comm","name":"Poll Siemens plc using s7comm","signalSetted":false,"none":"false","repeat":"10","once":false,"x":166,"y":184.5,"wires":[["35b0dc7e.516884","51948cff.d7a5e4"]]},{"id":"35b0dc7e.516884","type":"debug","z":"4ce4a47d.ce9e8c","name":"Debug s7comm","active":false,"console":"false","complete":"true","x":401,"y":225,"wires":[]},{"id":"d9043c0e.dce83","type":"inject","z":"4ce4a47d.ce9e8c","name":"Trigger snap7","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":124,"y":280.5,"wires":[["205de488.d3629c"]]},{"id":"62fa0683.87d4b8","type":"inject","z":"4ce4a47d.ce9e8c","name":"Trigger select","topic":"select * from plc","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":113,"y":381.5,"wires":[["642709c7.445de8"]]},{"id":"1c3e21d4.cbd33e","type":"debug","z":"4ce4a47d.ce9e8c","name":"Debug select statement","active":true,"console":"false","complete":"true","x":345,"y":481,"wires":[]},{"id":"642709c7.445de8","type":"mysql","z":"4ce4a47d.ce9e8c","mydb":"397e6ee8.aa9b02","name":"mysql","x":277,"y":381.5,"wires":[["1c3e21d4.cbd33e","a2ae4797.21fc88"]]},{"id":"a2ae4797.21fc88","type":"function","z":"4ce4a47d.ce9e8c","name":"Map from sql to data format","func":"var input = msg.payload\n\nvar output = { \"name\": input[0].name, \"value\": input[0].value}\n\nmsg.payload = output\n\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":381,"wires":[["56fd6f77.07f3d","af7d83c2.516d2"]]},{"id":"56fd6f77.07f3d","type":"debug","z":"4ce4a47d.ce9e8c","name":"Debug format conversion","active":true,"console":"false","complete":"true","x":671,"y":444,"wires":[]},{"id":"a72e1a10.cde8e8","type":"mqtt out","z":"4ce4a47d.ce9e8c","name":"Publish to /plc-snap7","topic":"/plc-snap7","qos":"1","retain":"true","broker":"ebc07b58.4da698","x":546,"y":281,"wires":[]},{"id":"7321771a.37e168","type":"debug","z":"4ce4a47d.ce9e8c","name":"Debug Snap7","active":true,"console":"false","complete":"true","x":483,"y":329,"wires":[]},{"id":"51948cff.d7a5e4","type":"mqtt out","z":"4ce4a47d.ce9e8c","name":"Publish to /plc-s7comm","topic":"/plc-s7comm","qos":"1","retain":"true","broker":"ebc07b58.4da698","x":493,"y":185,"wires":[]},{"id":"421220ce.a3afd","type":"mqtt out","z":"4ce4a47d.ce9e8c","name":"Publish to /plc-s7","topic":"/plc-s7","qos":"1","retain":"true","broker":"ebc07b58.4da698","x":549,"y":99,"wires":[]}]